body { 
	margin: 0px; 
	padding: 0px; 
	min-width: 320px;
	overflow-x: hidden;
	max-height: 600px;
}

html, body {
	background: #fff;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto; 
	position: relative;
	padding: 0px 0px;
}

/** Section 1 **/

section.intro {
	/* everything in section 1 */
}

#intro-container {
	background-color: none;
	min-height: 600px;
	height: 100%;
	position: relative;
}

#intro-background {
	background: url('/assets/images/design/golden-gate.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-repeat: no-repeat;
	z-index: 1;
}

#intro-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.55);
	position: absolute;
	z-index: 1;
}

/** About Me Inside Section 1 **/

header#intro {
	background-color: none;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 60px;
	z-index: 2;
}

#intro-photo {
	background: url('/assets/images/design/khanov.jpg') no-repeat 50% 0%;
	background-size: contain;
    width: 130px;
    height: 130px;
    position: relative;
    top: 65px; 
    left: 65px;
	border-radius: 65px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    border: 3px solid;
	border-radius: 65px;
	border-color: white;
}

h1#intro-name {
	font-size: 30px;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
	color: white;
	margin-left: 220px;
	margin-top: -77px;
	background-color: none;
	width: 220px;
}

#intro-bio {
	font-size: 21px;
	font-family: 'HelveticaNeue-UltraLight';
	color: white;
	margin-left: 220px;
	margin-top: 4px;
	background-color: none;
	width: 550px;
}

#intro-bio a:link, a:visited {
	color: white;
	text-decoration: none;
}

#intro-bio a:hover {
	color: #2d6dc7;
	transition-duration: 0.2s;
	transition-property: #2d6dc7;
	-moz-transition-duration: 0.2s;
	-moz-transition-property: #2d6dc7;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: #2d6dc7;
	-o-transition-duration: 0.2s;
	-o-transition-property: #2d6dc7;
}

nav {
	color: white;
	font-size: 18px;
	font-family: 'HelveticaNeue-Light';
	margin-left: 200px;
	margin-top: 9px;
	background-clip: none;
	width: 550px;
}

nav a:link, a:visited {
	color: white;
	text-decoration: none;
	padding-left: 20px;
}

nav a:hover {
	color: #2d6dc7;
	transition-duration: 0.2s;
	transition-property: #2d6dc7;
	-moz-transition-duration: 0.2s;
	-moz-transition-property: #2d6dc7;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: #2d6dc7;
	-o-transition-duration: 0.2s;
	-o-transition-property: #2d6dc7;
}

/** Section 2 **/

section.feed {
	/* everything in section 2 */
}

#feed-container {
	padding-top: auto;
	width: 100%;
	height: auto;
	padding-bottom: 65px;
	background-color: #fff;
	color: #21272d;
	font-size: 14px;
	font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#feed-name {
	font-size: 32px;
	color: black;
	margin-left: 65px;
	margin-top: 50px;
	background-color: none;
	width: 350px;
	height: auto;
	font-style: italic;
	font-weight: 300;
}

#feed-line {
	background-color: #2d6dc7;
	height: 1px;
	width: 675px;
	margin-left: 65px;
	margin-top: 2px;
}

#feed-post-title {
	font-size: 24px;
	color: black;
	margin-left: 65px;
	margin-top: 40px;
	background-color: none;
	width: 85%;
	height: auto;
}

A.blog-title-style {
	color: #2d6dc7;
	text-decoration: none;
}

A.blog-title-style:hover {
	color: #611d54;
	text-decoration: none;
	transition-duration: 0.2s;
	transition-property: #611d54;
	-moz-transition-duration: 0.2s;
	-moz-transition-property: #611d54;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: #611d54;
	-o-transition-duration: 0.2s;
	-o-transition-property: #611d54;
}

#feed-blog-text {
	font-size: 17px;
	margin-left: 65px;
	margin-top: 6px;
	background-color: none;
	width: 85%;
	height: auto;
	color: #555B60;
	line-height: 1.4em;
}

A.blog-text-style {
	color: black;
}

A.blog-text-style:hover {
	color: #2d6dc7;
	transition-duration: 0.2s;
	transition-property: #2d6dc7;
	-moz-transition-duration: 0.2s;
	-moz-transition-property: #2d6dc7;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: #2d6dc7;
	-o-transition-duration: 0.2s;
	-o-transition-property: #2d6dc7;
}

#feed-read-all {
	font-size: 13px;
	font-family: 'HelveticaNeue-Light';
	color: black;
	margin-left: 65px;
	margin-top: 8px;
	background-color: none;
	width: 85%;
	height: auto;
}

A.blog-more-style {
	color: black;
	text-decoration: none;
}

A.blog-more-style:hover {
	color: #2d6dc7;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: #2d6dc7;
	-moz-transition-duration: 0.2s;
	-moz-transition-property: #2d6dc7;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: #2d6dc7;
	-o-transition-duration: 0.2s;
	-o-transition-property: #2d6dc7;
}

/** Bottom Foorer Line **/

footer {
	background-color: #2d6dc7;
	height: 10px;
	width: 100%;
	margin-left: 0px;
	margin-top: 0;
}
