/* Loading of stylesheet for the design */
@import "./theme";

@font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/cc-icons.ttf') format('truetype');
}
    
span.cc {
   font-family: 'CC-ICONS';
   font-size: 1.2em;
   margin-right: 2px;
}

body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	color: rgba(70,70,70,0.75);
}

h1 {
    color: #FFFFFF;
    letter-spacing: -3px;
	font-family: 'Raleway', sans-serif;
	font-size: 100px;
	line-height: 1em;
	font-weight: 700;
	padding: 0 0 30px 0;
	margin: 0;
}
h2 {
    color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 42px;
	line-height: 1.2em;
	font-weight: 400;
}
h3 {
    color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	line-height: 1.2em;
	font-weight: 300;
}
h4 {
    color: rgba(48, 66, 82, 0.7);
    letter-spacing: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	line-height: 1.2em;
	font-weight: 300;
	padding: 0 0 20px 0;
	margin: 0;
	text-align:left;
}
h5 {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0 0 10px 0;
	margin: 0;
	text-align:left;
}

p a, ul li a, ol li a {color: #000 ; text-decoration: none; border-bottom: 1px solid transparent; transition: all 0.2s ease-in-out; }
p a:hover, ul li a:hover, ol li a:hover {color: #3d8ae3 ; text-decoration: none; border-bottom: 1px solid #3d8ae3; padding-bottom: 3px;}

#site-head .vertical-middle {
	vertical-align: inherit;
}

.site-cover-overlay .container {
	margin-left: 0;
	margin-top: 135px;
}

#site-head .blog-title {
	font-size: 3em;
	font-weight: 400;
	padding-bottom: 0;
}

#site-head .blog-description {
	font-family: 'Raleway', sans-serif;
	font-size: 0.889em;
	font-weight: 300;
	margin-top: auto;
	padding-top: 3px;
	opacity: 0.7;
}

.nav-list {
	list-style-type: none;
	padding-left: 0;
}

.nav-list .nav-item {
	display: inline;
	margin: 0 18px;
	margin-left: 0;
	opacity: 0.7;
}

.nav-list .nav-item a {
	color: white;
}

.nav-list .nav-item a:hover {
	border-bottom-color: white;
}

#main-content article .image-holder img { width: 100%; }
#main-content article a {color: #000 ; text-decoration: none; transition: all 0.2s ease-in-out; }
#main-content article a:hover {color: #3d8ae3 ; text-decoration: none; padding-bottom: 3px;}

.post-subtitle {
	margin-top: 0.5em;
}

.post-content {
	font-weight: 400;
	font-size: 21px;
	line-height: 1.7em;
}

.post-content {
	margin-top: 22px;
}

.post-content a, .post-content a:visited {
	font-family: 'Raleway', sans-serif;
}

.post-content blockquote {
	border-left: 2px solid rgba(0,0,0,0.12);
	font-style: normal;
	color: #999;
}

.post-content hr {
	border-top: 1px solid rgba(0,0,0,0.12);
}

.post-content span.fancy {
	font-family: "Kaushan Script",cursive;
}

.post-meta {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #999;
}

.post-date {
	text-align: right;
	margin-top: 32px;
}

.site-footer .inner a {
	color: gray;
	font-family: 'Raleway', sans-serif;
}

.site-footer .inner a:hover {
	color: #cfcfcf;
}

.site-footer .copyright {
	text-align: center;
}

.site-footer .copyright a, .site-footer .copyright a:hover {
	border-bottom: none;
}