---
layout: blog
title: Blog — Salavat Khanov
cover: blog-cover.jpg
---

{% for post in site.posts %}

	{% if forloop.index == 1 %}
	<article class="featured">
	{% else %}
	<article >
	{% endif %}
	  <div class="image-holder">
	  	<a href="{{ post.url }}" class="inner">
	  	 <img src="/assets/images/content/{{ post.cover }}" data-2x="/assets/images/content/{{ post.cover }}" onload="this.parentNode.style.backgroundImage = 'url('+this.src+')';this.parentNode.parentNode.className += ' show'">
	  	</a>
	  </div>

	  <header>
	    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	  </header>

	  <div class="text">{{ post.excerpt }} <a href="{{ post.url }}" class="readmore">Continue Reading</a></div>
	</article>

{% endfor %}