<!DOCTYPE html>
<html>
    <head>
    
    	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.excerpt }}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		
    </head>
    
    <body class="home-template">


		<header id="site-head" style="background-image: url(/assets/images/content/{{ page.cover }})" >
		    <div class="vertical-middle site-cover-overlay">
		        <div class="container">
		            <div class="row">
		                
		                <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
		                    <h1 class="blog-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
		                    <p class="blog-description">{{ site.description }}</p>
		                </div>
		                
		                <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
		                	<ul class="nav-list">
								<li class="nav-item">
									<a href="{{ site.twitter }}" rel="nofollow">Twitter</a>
								</li>
								<li class="nav-item">
									<a href="{{ site.blog_url }}">Blog</a>
								</li>
								<li class="nav-item">
									<a href="mailto:{{ site.email }}">Email</a>
								</li>
		                	</ul>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		</header>


		<main id="main-content" class="container" role="main">
    
	        <article id="post-1" class="post row">
				<div class="post-date col-xs-12 col-sm-12 col-md-1">
		        </div>
		            
	            <header class="post-header col-xs-12 col-sm-12 col-md-9">
	                <h2 class="post-title">{{ page.title }}</h2>
	                <h4 class="post-subtitle">{{ page.subtitle }}</h4>
	            </header>
	            
                <div class="post-meta col-xs-12 col-sm-12 col-md-2">
	                {{ content | reading_time_as_i }}
                </div>
	            	            
	            <section class="post-content col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
	                {{ content }}
	            </section>
	            
	            <div class="post-date col-xs-12 col-sm-12 col-md-5 col-md-offset-6">
		            <time datetime="{{ page.date | date_to_string }}">Published on 
						{% assign d = page.date | date: "%-d" %}
						{{ page.date | date: "%B" }}
						{% case d %}
							{% when '1' or '21' or '31' %}{{ d }}st,
							{% when '2' or '22' %}{{ d }}nd,
							{% when '3' or '23' %}{{ d }}rd,
							{% else %}{{ d }}th,
						{% endcase %}
						{{ page.date | date: "%Y" }}.
		            </time>
		        </div>
	            
	        </article>

		</main>
		
		
		
		<footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2">
                        <div id="social-accounts"></div>
                        <div class="inner">
                             <section class="copyright">
                             <a rel="nofollow" href="http://creativecommons.org/licenses/by/3.0/" rel="license" title="Released under a Creative Commons Attribution 3.0 Unported License"><span class="cc">c</span></a> 2014 {{ site.name }} - {{ site.description }}
                             <p><a href="https://twitter.com/khanov" rel="nofollow" class="twitter-follow-button" data-show-count="true">Follow @khanov</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
                             </section>
                        </div>
                    </div>
                </div>
            </div><!--container-->
        </footer>

        
        
		<script>
			document.write('<script src="/assets/js/jquery-1.11.0.min.js"><\/script>');
		</script>    

        <script type="text/javascript" src="/assets/js/mixmatch.min.js"></script>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
        <![endif]-->
        
        <script type="text/javascript" src="/assets/js/respond.min.js"></script>

    </body>
</html>